---
import type { ImageGallery } from "../types/types";
interface Props{
  gallery: ImageGallery

}
const {gallery} = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <div class="flex flex-col items-center">
    <img class="h-auto max-w-xs rounded-lg shadow-md" src={gallery.img} alt="Image 1 Description" />
    <p class="mt-4 text-meca-lightBlue dark:text-meca-mainBlue">{gallery.cap}</p>
  </div>

  <div class="flex flex-col items-center">
    <img class="h-auto max-w-xs rounded-lg shadow-md" src={gallery.img1} alt="Image 2 Description" />
    <p class="mt-4 text-meca-lightBlue dark:text-meca-mainBlue">{gallery.cap1}</p>
  </div>

  <div class="flex flex-col items-center">
    <img class="h-auto max-w-xs rounded-lg shadow-md" src={gallery.img2} alt="Image 3 Description" />
    <p class="mt-4 text-meca-lightBlue dark:text-meca-mainBlue">{gallery.cap2}</p>
  </div>
</div>
